<div class="displayRack">
  <div class="lable">
    <h3>Стеллаж</h3>
  </div>

  <div *ngFor="let item of printShelfs" class="rack" >
    <div class="shelfNumber">
      <h1>{{item}}</h1>
    </div>
    <div class="shelfBox">
      <div class="shelf" *ngIf="!loading; else load">

        <div (dragstart)="dragStart(shelfs[item].products[ind], shelfs[item])" 
          (dragend)="dragEnd()" 
          (dragover)="dragOver($event)" 
          (drop)="drop(shelfs[item].products[ind], shelfs[item])" 
          *ngFor="let product of shelfs[item].products; let ind=index"
          >
          <img class="product" src="{{product.productUrl}}" alt="">
        </div>

        <div (dragover)="dragGrabBtnOver($event)" (drop)="dropGrabBtn(shelfs[item])"
         *ngIf="!(shelfs[item].products.length == 5)">
          <div id="{{item}}" [class.dragBtnVisible]="dragBtnIsVisible" class="dragBtn"></div>
        </div>

      </div>

      <ng-template #load>
        <div class="load">
          <p>Loading...</p>
        </div>
      </ng-template>

      <div class="line"></div>
    </div>
  </div>
</div>